.page-home {
  .job-meta{
    opacity: 80%;
    font-family: $font-family-heading;
    font-size:1.2em;
    margin-top: -15px;
    margin-bottom: 60px;
  }

  .service-content ul{
    margin:0 0 0 20px;
  }
}
