---
layout: default
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="service service-single">
                <h1 class="title">{{page.company}}</h1>
                <div class="content">
                  {% assign jobs = site.data.jobs | where: "company", page.company | sort: 'name'  %}
                  {% for job in jobs %}
                  <h2><strong>{{job.title}}</strong></h2>
                  <p class="job-meta"><em>{{job.location}} from {{ job.date | date: "%Y" }}</em></p>
                  <p>{{job.summary | newline_to_br }}</p>

                  <p><a href="{{ site.abs-url }}/job/{{ job.slug }}">View Full Job Description &rarr;</a></p>
                  <br><hr><br>
                  {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
